* {
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
    }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.container {
    max-width: 1440px;
    margin: 0 auto;
    }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.nav-list {
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    }

.nav-link {
    text-decoration: none;
    transition:  .3s;
    color: black;
    font-size: 16px;
    } 

.nav-link:hover {
    text-decoration: underline;
    color: #226bba;
    transition: .3s;
    } 

html {
    scroll-behavior: smooth; 
  }

h1 {
    font-size: 32px;
}

.contact-list {
    list-style: none;
    line-height: 32px;
}

.contact-link {
    text-decoration: none;
    transition:  .3s;
    color: black;
    font-size: 14px;
    } 

.contact-link:hover {
    text-decoration: underline;
    color: #226bba;
    transition: .3s;
    } 

.contact-item span {
     font-weight: bold;
}

.section-summary {
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.skills-item {
    list-style: none;
    line-height: 32px;
    font-size: 14px;
}

.code {
      line-height: 1.5;
}

.education {
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.education-bold {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    color: black;
   }

.experience {
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.experience-bold {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    color: black;
   }

.languages-item span {
    font-weight: bold;
}

